Importing the needed libraries

In [2]:
import pandas as pd
import numpy as np
from statsmodels.graphics.gofplots import qqplot
from matplotlib import pyplot
from scipy.stats import shapiro
from scipy.stats import ttest_ind
from scipy.stats import f_oneway
from scipy.stats import f_oneway

We will use QQ plots and Shapiroâ€“Wilk test, to test for normality on our data

In [3]:
#Read the dataset
xls = pd.ExcelFile('AllTraffic_Channels.xlsx')
df1 = pd.read_excel(xls, 'Dataset1')
df2 = pd.read_excel(xls, 'Dataset2')

,Default Channel Grouping,Date Range,Users,New Users,Sessions,Bounce Rate,Pages / Session,Avg. Session Duration,Ecommerce Conversion Rate,Transactions,Revenue
0,Organic Search,"Jan 1, 2019 - Mar 31, 2019",77651,71244,96098,0.448948,4.155758,159.120731,0.001488,143,7252.36
1,Organic Search,"Jan 1, 2018 - Mar 31, 2018",91746,86904,111707,0.483407,3.861307,123.465674,0.007618,851,135008.65
2,Direct,"Jan 1, 2019 - Mar 31, 2019",25420,23842,33707,0.307295,5.304833,229.662325,0.001187,40,2272.62
3,Direct,"Jan 1, 2018 - Mar 31, 2018",32295,30696,41746,0.493173,3.873497,146.609735,0.025248,1054,166549.92
4,Referral,"Jan 1, 2019 - Mar 31, 2019",19854,14169,31232,0.265081,5.932825,246.070793,0.000032,1,32.97

In [6]:
df2.head()

   Day Index                  Date Range  Users
0 2019-01-01  Jan 1, 2019 - Mar 31, 2019   1024
1 2018-01-01  Jan 1, 2018 - Mar 31, 2018   1783
2 2019-01-02  Jan 1, 2019 - Mar 31, 2019   1871
3 2018-01-02  Jan 1, 2018 - Mar 31, 2018   2831
4 2019-01-03  Jan 1, 2019 - Mar 31, 2019   1645